<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- aceita acentuaçoes na pagina -->
    <meta charset="UTF-8">
    <meta name="description" content="Minha futura loja de maquiagem">
    <!--robots, noindex - remove o site do resultado de busca do google. nofollow nao associa linkes da pagina no buscador-->
    <meta name="robots" content="noindex, nofollow">
    <!--viewport, para aparecer corretamente na tela do mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- js, jquery, popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- PROGRESS BAR -->
    <script src="../js/progressbar.min.js"></script>
    <script src="../js/scripts.js"></script>

    <!-- PARALLAX -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="../style/hevy.css">

    <!-- titulo -->
    <title>Menu</title>
</head>

<body>
    <!-- ENTRA NO NAVBAR -->
    <nav class="navbar position-relative navbar-expand-lg">
        <a class="navbar nav-link ml-5" href="home.html">COFFEESOULL <span class="sr-only">(current)</span></a>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html"> HOME </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu.html"> MENU </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./services.html"> SERVICES </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> BLOG </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> ABOUT </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> CONTACT </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> SHOP </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="../assets/icons/Vector.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <div class="container-fluid p-0">
            <div class="bg-fundo">
                <div class="row">
                    <div class="col-sm-5 offset-2 our-menu-two">
                        <h1>AMAZING TEST & BEAUTIFUL PLACE</h1>
                        <div class="col-sm-8 text-center our-menu-three">
                            <!-- <h5 class="ml-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</h5> -->
                            <ul class="d-inline-flex home-services">
                                <li type="none"><a class="nav-link" href="home.html">Home</a></li>
                                <li type="none"><a class="nav-link" href="menu.html">View Menu</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="bg-black">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-sm-3">
                        <a href=""><img class="" src="" alt=""></a>
                        <h5>000 (123) 456 7890</h5>
                        <p>A small river named Duden flows by their place and supplies.</p>
                    </div>
                    <div class="col-sm-3 offset-1">
                        <a class="img" href=""><img class="" src="" alt=""></a>
                        <h5>198 West 21th Street</h5>
                        <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                    </div>
                    <div class="col-sm-3 offset-1">
                        <a class="img" href=""><img class="" src="" alt=""></a>
                        <h5>Open Monday-Friday</h5>
                        <p>8:00am - 9:00pm</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bg-fundo-two">
        <div class="bg-grey-two">
            <div class="container-fluid p-0">
                <div class="row mr-0">
                    <div class="col-sm-6">
                        <img src="../assets/images/bg_5.jpg" class="img-home" alt="">
                    </div>
                    <div class="col-sm-6">
                        <div class="overlap">
                            <div>
                                <h1>Our Story</h1>
                                <p class="mt-4 p-home">On her way she met a copy. The copy warned the Little Blind Text,
                                    that where it came from it would have been rewritten a thousand times and everything
                                    that was left from its origin would be the word "and" and the Little Blind Text
                                    should turn around and return to its own, safe country. But nothing the copy said
                                    could convince her and so it didn’t take long until a few insidious Copy Writers
                                    ambushed her, made her drunk with Longe and Parole and dragged her into their
                                    agency, where they abused her for their.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section id="bg-fundo-three">
        <div class="bg-marrom-two">
            <div class="container">
                <div class="row easy-fastest-quality">
                    <div class="col-4 col-md-4 mt-5">
                        <a class="img" href=""><img class="img-border" src="../assets/images/icon-cardapio.jpeg"
                                alt="icon cardapio"></a>
                        <h5 class="text-h3 mt-5 text-center">EASY TO ORDER</h5>
                        <p class="text-p text-center">Even the all-powerful Pointing has no control </br>
                            about the blind texts it is an almost </br>
                            unorthographic.</p>
                    </div>
                    <div class="col-4 col-md-4 mt-5">
                        <a class="img" href=""><img class="img-border" src="../assets/images/icon-carrinho.jpeg"
                                alt="icon carrinho"></a>
                        <h5 class="text-h3 mt-5 text-center">FASTEST DELIVERY</h5>
                        <p class="text-p text-center">Even the all-powerful Pointing has no control </br>
                            about the blind texts it is an almost </br>
                            unorthographic.</p>

                    </div>
                    <div class="col-4 col-md-4 mt-5">
                        <a class="img" href=""><img class="img-border" src="../assets/images/icon-grao.jpeg"
                                alt="icon grao"></a>
                        <h5 class="text-h3 mt-5 text-center">QUALITY COFFEE</h5>
                        <p class="text-p text-center">Even the all-powerful Pointing has no control </br>
                            about the blind texts it is an almost </br>
                            unorthographic.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bg-fundo-two">
        <div class="bg-grey-three">
            <div class="container p-0">
                <div class="row mr-0">
                    <div class="col-sm-4 our-menu-for">
                        <div>
                            <h1 class="text-center">OUR MENU</h1>
                            <p class="text-center mt-4 p-home">Far far away, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind texts. Separated they live in
                                Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <a type="button" class="btn btn-outline btn-color-three" href="menu.html">View Full Menu</a>

                        </div>
                    </div>
                    <div class="col-sm-6 offset-2">
                        <img src="../assets/images/ft-1.png" alt="">
                        <img src="../assets/images/ft-2.png" class="img-2" alt="">
                        <img src="../assets/images/ft-3.png" class="img-3" alt="">
                        <img src="../assets/images/ft-4.png" class="img-4" alt="">
                    </div>
                </div>
            </div>
    </section>
    <section>
        <div id="data-area">
            <div class="container">
                <div class="row teste">
                    <div class="col-md-3 col-xs-6 circle-box">
                        <div id="circleA"></div>
                        <h4>Projetos entregues</h4>
                    </div>
                    <div class="col-md-3 col-xs-6 circle-box">
                        <div id="circleB"></div>
                        <h4>Clientes Felizes</h4>
                    </div>
                    <div class="col-md-3 col-xs-6 circle-box">
                        <div id="circleC"></div>
                        <h4>Colaboradores</h4>
                    </div>
                    <div class="col-md-3 col-xs-6 circle-box">
                        <div id="circleD"></div>
                        <h4>Cafézinhos</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bg-fundo-two">
        <div class="bg-grey-for">
            <div class="container p-0">
                <div class="row mr-0">
                    <div class="col-sm-12">
                        <h1 class="text-center">RECENT FROM BLOG</h1>
                        <div class="col-sm-5 text-center blog-p">
                            <p class="p-home">Far far away, behind the word mountains, far from the countries Vokalia
                                and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-5">
                        <img src="../assets/images/manu-1.png" alt="Blog">
                        <a href="#" class="blog-link">
                            <p class="mt-2">Sept 10, 2018 Admin
                                <icon></icon>
                                3
                            </p>
                        </a>
                        <h5>The Delicious Pizza</h5>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </div>
                    <div class="col-sm-4 mt-5">
                        <img src="../assets/images/menu-2.png" alt="Blog">
                        <a href="#" class="blog-link">
                            <p class="mt-2">Sept 10, 2018 Admin
                                <icon></icon>
                                3
                            </p>
                        </a>
                        <h5>The Delicious Pizza</h5>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </div>
                    <div class="col-sm-4 mt-5">
                        <img src="../assets/images/menu-3.png" alt="Blog">
                        <a href="#" class="blog-link">
                            <p class="mt-2">Sept 10, 2018 Admin
                                <icon></icon>
                                3
                            </p>
                        </a>
                        <h5>The Delicious Pizza</h5>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        </p>
                    </div>
                </div>
            </div>
    </section>
    <section>
        <div class="bg-img-123">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="text-center">CUSTOMERS SAYS</h1>
                        <div class="col-sm-5 text-center blog-p">
                            <p class="p-custumers">Far far away, behind the word mountains, far from the countries
                                Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                    <div class="col-sm-12 d-flex">
                        <div class="card mb-3 mr-2 card-1" style="max-width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title">Louise Kelly</h4>
                                <p class="card-text">“Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small.”</p>
                            </div>
                        </div>
                        <div class="card mb-3 mr-2 card-2" style="max-width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title">Louise Kelly</h4>
                                <p class="card-text">“Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small.”</p>
                            </div>
                        </div>
                        <div class="card mb-3 mr-2 card-3" style="max-width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title">Louise Kelly</h4>
                                <p class="card-text">“Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small.”</p>
                            </div>
                        </div>
                        <div class="card mb-3 mr-2 card-4" style="max-width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title">Louise Kelly</h4>
                                <p class="card-text">“Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section>
        <footer>
            <div class="bg-black-two">
                <div class="container">
                    <div class="row mb-4">
                        <!-- total de cols 11, corrigir, please -->
                        <div class="col-sm-3 mt-4">
                            <h5>ABOUT US</h5>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</p>
                            <div>
                                <a href=""><img class="icon-redes" src="../assets/icons/facebook-1.png" alt=""></a>
                                <a href=""><img class="icon-redes" src="../assets/icons/instagram-1.png" alt=""></a>
                                <a href=""><img class="icon-redes" src="../assets/icons/twitter-1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-sm-3 offset-1">
                            <a class="img" href=""><img class="" src="" alt=""></a>
                            <h5>SERVICES</h5>
                            <p>Cooked</p>
                            <p>Deliver</p>
                            <p>Quality Foods</p>
                        </div>
                        <div class="col-sm-3 offset-1">
                            <a class="img" href=""><img class="" src="" alt=""></a>
                            <h5>HAVE A QUESTIONS?</h5>
                            <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                            <p> +2 392 3929 210</p>
                            <p>info@yourdomain.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</body>

</html>