<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- titulo -->
        <title>Services</title>
        <!-- aceita acentuaçoes na pagina -->
        <meta charset="UTF-8">
        <meta name="description" content="Minha futura loja de maquiagem">
        <!--robots, noindex - remove o site do resultado de busca do google. nofollow nao associa linkes da pagina no buscador-->
        <meta name="robots" content="noindex, nofollow"> 
        <!--viewport, para aparecer corretamente na tela do mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- js, jquery, popper.js -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- css -->
        <link rel="stylesheet" href="../style/hevy.css">
    </head>
    <body>
        <!-- ENTRA NO NAVBAR -->
        <nav class="navbar navbar-expand-lg bg-dark">
            <a class="navbar nav-link ml-5" href="#">COFFEESOULL <span class="sr-only">(current)</span></a>
            <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="./menu.html"> MENU </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./services.html"> SERVICES </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> BLOG </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> ABOUT </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> CONTACT </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> SHOP </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="../assets/icons/Vector.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main-banner">
            <img src="../assets/images/bg_3.jpg" alt="banner">
            <div>
                <p> HOME </p>
                <p> SERVICES </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4 mt-5">
                    <a class="img" href=""><img src="../assets/images/icon-cardapio.jpeg" alt="icon cardapio"></a>
                    <h5 class="text-h3 mt-5">EASY TO ORDER</h5>
                    <p class="text-p">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
                <div class="col-4 mt-5">
                    <a class="img" href=""><img src="../assets/images/icon-carrinho.jpeg" alt="icon carrinho"></a>
                    <h5 class="text-h3 mt-5">FASTEST DELIVERY</h5>
                    <p class="text-p">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
    
                </div>
                <div class="col-4 mt-5">
                    <a class="img" href=""><img src="../assets/images/icon-grao.jpeg" alt="icon grao"></a>
                    <h5 class="text-h3 mt-5">QUALITY COFFEE</h5>
                    <p class="text-p">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>