/* ///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////    NAVBAR
///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// */
#navbarSupportedContent{
    margin-right: -25em;
}
nav {
    z-index: 2030;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}

.navbar-brand {
    position: relative;
    right: -19em;
    color: #ffff;
}
.navbar-collapse {
    position: absolute;
    right: 32em;
    
}
.nav-item {
    padding-left: 0.9em;
}
.nav-link {
    color: #ffff;
    font-family: initial;
    font-weight: bold;
}
.nav-link:hover{
    color: #c49b63;
}

/* ///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////    HOME
///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// */

.bg-fundo {
    background-image: url(../assets/images/bg_3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    width: 100%;
    height: 45em;
    overflow: hidden;
    bottom: 4em;
    position: relative;
}


.bg-fundo::before {
    content: ""; /*é usada com os pseudoelementos ::before e ::after para gerar conteúdo em um elemento */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    background: #000;
    opacity: .3;
}

.bg-fundo 
.our-menu-two{
    margin-top: 13em;
    margin-left: 27.5em;
}
.our-menu-three{
    margin-left: 0.7em;
    margin-top: 2em;
}

.img-home{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    width: 100%;
    height: 45em;
    overflow: hidden;
    bottom: 3em;
    position: relative;
}

.overlap{
    margin-top: 6em;
    margin-right: 4em;
    margin-left: -4em;
    padding: 84px;
    background: rgba(0, 0, 0, 0.5);
}
.bg-grey-two{
    background-color: #0f0e0e;
    position: relative;
    top: -4em;
    padding: 0px;
}

.bg-grey-three{
    background-color: #0f0e0e;
    position: relative;
    top: 4em;
    padding: 0 0 13em 0;

}
.p-home{
    line-height: 1.8em;
}

.bg-marrom-two {
    border-top: 2px solid rgb(148, 142, 142);
    border-bottom: 2px solid rgb(148, 142, 142);
    background-color: #c49c63;
    position: relative;
    padding: 0 0 8em 0;
}

.img-1{
    display: contents;
}

.our-menu-for{
    position: relative;
    left: 5em;
    top: 5em;
}

.img-2{
    margin-left: 3em;
}

.img-3{
    position: relative;
    top: 1em;
    margin-left: 4em;
}

.img-4{
    position: relative;
    top: 1em;
    margin-left: 3em;
}

.btn-color-three{
    color: #c49b63;
    border: 1px solid #c49b63;
    font-weight: 600;
    margin-left: 6.2em;

}

.btn-color-three:hover{
    color: #FFF;
    border: 1px solid #FFF;

}

/*Paralax*/

.circle-box div {
    padding: 5em 5em 10em 0em ;
}
  
.circle-box {
    position: relative;
    top: 4em;
}

.teste::before {
    content: ""; /*é usada com os pseudoelementos ::before e ::after para gerar conteúdo em um elemento */
    position: absolute;
    top: 5em !important;
    bottom: 0;
    left: -2.7em;
    right: -2.6em;
    height: inherit;
    background: #000;
    opacity: .5;
}


.progressbar-text {
    position: absolute!important;;
    left: 35%!important;
    top: 42%!important;;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}
  
#data-area h4 {
    position: relative;
    top: -6em;
    left: -1.4em;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-family: initial;
    color: #fff;
  }

  .bg-grey-for{
    background-color: #0f0e0e;
    position: relative;
    top: 0em;
    padding: 0 0 8em 0;

}

.blog-p{
    margin-left: 20.8em;
}

.blog-link:hover p {
    color: #ffffffa9;
}
.blog-link:hover {
    text-decoration: none;

}

.bg-img-123{
    background-image: url(../assets/images/bg_6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    width: 100%;
    height: 40em;
    overflow: hidden;
    bottom: 0em;
    position: relative;

}

.bg-img-123::before {
    content: ""; /*é usada com os pseudoelementos ::before e ::after para gerar conteúdo em um elemento */
    position: absolute;
    top: 0em !important;
    bottom: 0;
    left: 0em;
    right: 0em;
    height: inherit;
    background: #000;
    opacity: .5;
}

.p-custumers{
    line-height: 1.8em;
    color: #fff;
}

/*CARDS*/

.card-1 {
    position: relative;
    top: 1em;
    padding: 1em;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    transition: 0.5s;
}

.card-1:hover {
    background-color: #c49b63;
    margin-top: -10px;
}

.card-1:hover h4 {
    color: #fff;
}

.card-1:hover p {
    color: #fff;
}

.card-2 {
    position: relative;
    top: 4em;   
    padding: 1em;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    transition: 0.5s;
}

.card-2:hover {
    background-color: #c49b63;
    margin-top: -10px;
}

.card-2:hover h4 {
    color: #fff;
}

.card-2:hover p {
    color: #fff;
}

.card-3 {
    position: relative;
    top: 2em;
    padding: 1em;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    transition: 0.5s;
}

.card-3:hover {
    background-color: #c49b63;
    margin-top: -10px;
}

.card-3:hover h4 {
    color: #fff;
}

.card-3:hover p {
    color: #fff;
}


.card-4 {
    position: relative;
    top: 4em;
    padding: 1em;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    transition: 0.5s;
}

.card-4:hover {
    background-color: #c49b63;
    margin-top: -10px;
}

.card-4:hover h4 {
    color: #fff;
}

.card-4:hover p {
    color: #fff;
}


/* ///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////    SERVICES 
///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// */

#main-banner {
    padding: 0px;
    width: 100%;
    /* height: 782px; */
    /* overflow: hidden; */
}
#main-banner-content {
    height: 250px;
    width: 700px;
    float: right;
    margin: 40px 60px;
    background: #555;
}

.home-services {
    padding: 0;
}
.img {
    position: relative;
    right: -5em;
}
.img-border {
    border: 1px solid #000;
    position: relative;
    left: 2.9em;

}
.text-h3 {
    color: #000;
}
.text-p {
    color: rgba(0, 0, 0, 0.801);
}

.bg-marrom {
    background-color: #c49c63;
    position: relative;
    top: -4em;
    padding: 0 0 10em 0;
}
.row {
    position: relative;
    top: 3em;
}
.bg-dark {
    padding: 0 0 30em 0;
    top: -4em;
    position: relative;
}
.rede-social {
    margin-right: 0.3em;
}

.bg-fundo-two {
    background-image: url(../assets/images/bg_6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    width: 100%;
    height: 45em;
    overflow: hidden;
    bottom: 4em;
    position: relative;
}


.bg-fundo-two::before {
    content: ""; /*é usada com os pseudoelementos ::before e ::after para gerar conteúdo em um elemento */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    background: #000;
    opacity: .3;
}

.bg-fundo-two 
.our-menu{
    margin-top: 15em;
}

/* ///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////    IMAGEM DE FUNDO
///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// */

/* .bg-fundo {
    background-image: url(../assets/images/bg_3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    width: 100%;
    height: 45em;
    overflow: hidden;
    bottom: 4em;
    position: relative;
}


.bg-fundo::before {
    content: ""; é usada com os pseudoelementos ::before e ::after para gerar conteúdo em um elemento
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    background: #000;
    opacity: .3;
}

.bg-fundo 
.our-menu{
    margin-top: 15em;
} */

/* ///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////    MENU
///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// */

.bg-fundo-three {
    background-image: url(../assets/images/bg_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    width: 100%;
    height: 45em;
    overflow: hidden;
    bottom: 4em;
    position: relative;
}


.bg-fundo-three::before {
    content: ""; /*é usada com os pseudoelementos ::before e ::after para gerar conteúdo em um elemento */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    background: #000;
    opacity: .3;
}

.bg-fundo-three 
.our-menu{
    margin-top: 15em;
}


h1, h2, h5, h3 {
    color: #FFF;
    font-family: initial;
}
h3 {
    position: relative;
    top: -1.2em;
}
p {
    color: #808080;
    font-family: initial;
}
a ul li:hover{
color: #000;
}
.bg-black{
    background-color: #000;
    position: relative;
    top: -4em;
    padding: 0px 0px 3em 0px;
}

.bg-grey{
    background-color: #0f0e0e;
    position: relative;
    top: -4em;
    padding: 0px 0px 10em 0px;
}

.img-menu{
    border-radius: 50%;
    width: 15%;
}

.text-menu{
    margin-left: 5em;
    margin-top: -1em;
}
/* .price{
    margin-left: 5.3em;
} */

.drinks-menu{
margin-top: 5em;
}

.drinks-menu-two{
margin-top: 2em;

}
.text-menu-two{
    text-align: center;
    margin-left: -2em;
}

.btn-color{
    background-color: #c49b63;
    color: #0f0e0e;
    font-weight: 600;
    padding: 0.7em;
}

.btn-color:hover{
    color: #FFFF;
}
.btn-gp{
    margin-left: 21.5em;
}
.btn-group{
    font-family: initial;
    position: relative;
    top: -3em;
}

.btn-color-two{
    color: #c49b63;
    border: 1px solid #c49b63;
    font-weight: 600;
}

.btn-color-two:hover{
    color: #FFF;
    border: 1px solid #FFF;

}

.bg-black-two {
    background-color: #000;
    position: relative;
    padding: 0px 0px 3em 0px;
}

.icon-redes{
    border-radius: 50%;
}

#bg-fundo-two {
    margin: 0em 0em -4em 0em;
}

#bg-fundo-three{
    margin: 0em 0em -4em 0em;
}