/* ///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////    SERVICES 
///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// */

#main-banner {
    padding: 0px;
    width: 100%;
    /* height: 782px; */
    overflow: hidden;
}
#main-banner-content {
    height: 250px;
    width: 700px;
    float: right;
    margin: 40px 60px;
    background: #555;
}
.navbar-brand {
    position: relative;
    right: -19em;
    color: #ffff;
}
.navbar-collapse {
    position: absolute;
    right: 32em;
    
}
.nav-item {
    padding-left: 0.9em;
}
.nav-link {
    color: #ffff;
}
.img {
    position: relative;
    right: -5em;
}
.text-h3 {
    position: relative;
    right: -3em;
}

#navbarSupportedContent{
    margin-right: -25em;
}




/* ///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////    MENU
///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// */

.bg-fundo {
    background-image: url(../assets/images/bg_3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    width: 100%;
    height: 45em;
    /* overflow: hidden;  Ele tira o scroll*/
    bottom: 4em;
    position: relative;
}

nav {
    z-index: 2030;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}

.bg-fundo::before {
    content: ""; /*é usada com os pseudoelementos ::before e ::after para gerar conteúdo em um elemento */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    background: #000;
    opacity: .3;
}

.bg-fundo 
.our-menu{
    margin-top: 15em;
}

h1, h5 {
    color: #FFF;
}